{% extends 'base.html.twig' %}

{% block title %}Tp3 {% endblock %}
{% block css %}
<style>
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
{% endblock %}
{% block body %}
    <div class="container" style="padding-top:100px;display:flex;flex-direction:column;justify-content:center;">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headinZero">
                <h5 class="mb-0" style="width:100%">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_0" aria-expanded="true" aria-controls="collapse_0">
                     Insertion des jouets et des Fournisseurs dans la BD 
                    </button>
                </h5>
                </div>

                <div id="collapse_0" class="collapse" aria-labelledby="headinZero" data-parent="#accordion">
                <div class="card-body" style="display:flex;justify-content:center;align-items:center">
                   <div class="loader" id="loader_0"></div>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0" style="width:100%">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" aria-controls="collapse_1">
                     Quelles sont les jouets fournis par EduGame ?
                    </button>
                </h5>
                </div>

                <div id="collapse_1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body" style="display:flex;justify-content:center;align-items:center">
                   <div class="loader" id="loader_1"></div>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                <h5 class="mb-0" style="width:100%">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" aria-controls="collapse_2">
                        Quels sont les jouets dont la quantité en stpock est la plus grande ?
                    </button>
                </h5>
                </div>
                <div id="collapse_2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body" style="display:flex;justify-content:center;align-items:center">
                    <div class="loader" id="loader_2"></div>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_3" aria-expanded="false" aria-controls="collapse_3">
                        Quel est le jouet le moins cher ?
                    </button>
                </h5>
                </div>
                <div id="collapse_3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body" style="display:flex;justify-content:center;align-items:center">
                    <div class="loader" id="loader_3"></div>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_4" aria-expanded="false" aria-controls="collapse_4">
                        Quel est le fournisseur qui fournit le plus de jouets ?
                    </button>
                </h5>
                </div>
                <div id="collapse_4" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body" style="display:flex;justify-content:center;align-items:center">
                     <div class="loader" id="loader_4"></div>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_5" aria-expanded="false" aria-controls="collapse_5">
                        Quel est le fournisseur qui ne fournit aucun jouet ?
                    </button>
                </h5>
                </div>
                <div id="collapse_5" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body" style="display:flex;justify-content:center;align-items:center">
                    <div class="loader" id="loader_5"></div>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSix">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_6" aria-expanded="false" aria-controls="collapse_6">
                        Ajouter 10dt au PU de tous les jouest fournis par ImportSmart
                    </button>
                </h5>
                </div>
                <div id="collapse_6" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body" style="display:flex;justify-content:center;align-items:center">
                     <div class="loader" id="loader_6"></div>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSeven">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_7" aria-expanded="false" aria-controls="collapse_7">
                        Supprimer Le forunisseur EduGame et tous ses jouets
                    </button>
                </h5>
                </div>
                <div id="collapse_7" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                <div class="card-body" style="display:flex;justify-content:center;align-items:center">
                     <div class="loader" id="loader_7"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="js/tp3.js" ></script>
{% endblock %}