{% extends 'base.html.twig' %}

{% block title %}ToysRus{% endblock %}

{% block body %}
    <div class="container" style="padding-top:100px;display:flex;flex-direction:column;justify-content:center;align-items:center">
        <h1 style="text-transform:uppercase;color:#5165D5" >Bienvenue à ToysRus</h1>
        <img width="600px" height="350px" src="/img/toysrus.svg" />
        <p style="text-transform:uppercase;font-size:25px;color:#41B20F">pas à pas pour devenir grand </p>
    </div>
{% endblock %}
