{% extends 'base.html.twig' %}

{% block title %}Partenaires{% endblock %}

{% block body %}

<div class="container" style="padding-top:100px">

    <center><h2 style="text-transform:uppercase;color:#5165D5">Partenaires</h2> </center>
    <br/>
    <div style="display:flex;align-items:center;justify-content:space-between;padding-top:50px">
    <div>
      <img class="patenaire-img" src="/img/brand1.jpg">
      <p class="partenaire-title"></p>
    </div>
    <div>
      <img class="patenaire-img" src="/img/brand2.jpg">
      <p class="partenaire-title"></p>
    </div>
    <div >
      <img class="patenaire-img" src="/img/brand3.jpg">
      <p class="partenaire-title"></p>
    </div>
  </div>
{% endblock %}
